@model List<Nettbank___Webapplikasjoner.Models.Transaction>

@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function() {
        // lag en hendelse som utføres når en a-href med "data-SletteModal = true" trykkes.
        $('a[data-deleteModal=true]').click(function() {

            // hent inn data-taggene fra denne a-href lenken
            var data_navn = $(this).data('navn');
            var data_id = $(this).data('id');

            // legg ut dataene i div'en i modal-view'et
            $('#deleteTransaction').html(data_navn);

            $("#deleteModalButton").click(function () {
                // id som skal slettes ligger i data_id
                $.ajax({
                    url: '@Url.Action("Delete", "Transaction")',
                    data: { id: data_id },  // en parameter inn i slett(id)-metoden i kunde-kontrolleren (JSON-objekt)
                    success: function () {
                        // må kalle liste-metoden for å vise den nye listen av kunder
                        $.ajax({
                            url: '@Url.Action("ListTransactions", "Transaction")',
                            success: function () {
                                // så må siden reloades!
                                window.location.reload();
                            }
                        });
                    }
                });
            })
        })
    });
</script>

<table class="table">
    <tr>
        <th class="col-md-2">@Html.DisplayNameFor(model => model[0].toAccountNumber)</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model[0].amount)</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model[0].timeToBeTransfered)</th>
        <th class="col-md-4">@Html.DisplayNameFor(model => model[0].comment)</th>
        <th class="col-md-2"></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@long.Parse(item.toAccountNumber).ToString("0000 00 00000")</td>
            <td style="text-align: right">@item.amount.ToString("### ### ##0 kr")</td>
            <td>@item.timeToBeTransfered.Value.ToShortDateString()</td>
            <td style="text-align: left">@item.comment</td>
            <td>
                <a href="#deleteModal" class="btn btn-xs btn-danger" id="deleteButton"
                   data-navn="Beløp: @item.amount.ToString("### ### ##0 kr"), Fra konto: @long.Parse(item.fromAccountNumber).ToString("0000 00 00000"), Til konto: @long.Parse(item.toAccountNumber).ToString("0000 00 00000")"
                   data-id="@item.transactionId" data-toggle="modal" data-deleteModal="true">Slett</a>
                @Html.ActionLink(linkText: "Endre", actionName: "UpdateTransaction", controllerName: "Transaction", routeValues: new { id = item.transactionId }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
            </td>
        </tr>
    }
</table>