@model List<Nettbank___Webapplikasjoner.Models.Transaction>

@{
    ViewBag.Title = "Utskrift";
}

<div class="row">
    <div class="col-md-6">
        <h1>Kontoutskrift</h1>
    </div>
    <div class="col-md-6">
        @Html.DropDownList("AccountList", ViewBag.AccountList as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "account-dropdown" })
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <tr>
                <th class="col-md-2">@Html.DisplayNameFor(model => model[0].timeTransfered)</th>
                <th class="col-md-2">Konto</th>
                <th class="col-md-4">@Html.DisplayNameFor(model => model[0].comment)</th>
                <th class="col-md-2">Ut fra konto</th>
                <th class="col-md-2">Inn på konto</th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.timeTransfered.Value.ToShortDateString()</td>
                    <td>@(item.fromAccountNumber == ViewBag.AccountNumber ? Int64.Parse(item.toAccountNumber).ToString("0000 00 00000") : Int64.Parse(item.fromAccountNumber).ToString("0000 00 00000"))</td>
                    <td style="text-align: left">@item.comment</td>
                    <td style="text-align: right">@(item.fromAccountNumber == ViewBag.AccountNumber ? item.amount.ToString("### ### ##0 kr") : "")</td>
                    <td style="text-align: right">@(item.toAccountNumber == ViewBag.AccountNumber ? item.amount.ToString("### ### ##0 kr") : "")</td>
                </tr>
            }
        </table>
    </div>
</div>