@model List<Model.Transaction>

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th class="col-md-2">@Html.DisplayNameFor(model => model[0].TimeTransfered)</th>
        <th class="col-md-2">Konto</th>
        <th class="col-md-4">@Html.DisplayNameFor(model => model[0].Comment)</th>
        <th class="col-md-2">Ut fra konto</th>
        <th class="col-md-2">Inn på konto</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@item.TimeTransfered.Value.ToShortDateString()</td>
            <td>@(item.FromAccountNumber == ViewBag.AccountNumber ? Int64.Parse(item.ToAccountNumber).ToString("0000 00 00000") : Int64.Parse(item.FromAccountNumber).ToString("0000 00 00000"))</td>
            <td style="text-align: left">@item.Comment</td>
            <td style="text-align: right">@(item.FromAccountNumber == ViewBag.AccountNumber ? item.Amount.ToString("### ### ##0 kr") : "")</td>
            <td style="text-align: right">@(item.ToAccountNumber == ViewBag.AccountNumber ? item.Amount.ToString("### ### ##0 kr") : "")</td>
        </tr>
    }
</table>