<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav navbar-brand">
                @Html.ActionLink("BEBA & SANDØY BANK","Login","Customer")
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("KONTO","ListAccounts","Customer")</></li>
                <li>@Html.ActionLink("TRANSAKSJONER", "#")</li>
                <li>@Html.ActionLink("NY BETALING", "RegisterTransaction", "Transaction")</li>
                <li>@Html.ActionLink("BETALINGER", "ListTransactions", "Transaction")</li>
                @if ((bool)Session["loggedin"] == true) {
                    <li>@Html.ActionLink("LOGG UT", "Logout", "Customer")</li>
                } 
                
            </ul>
        </div>
    </div>
</div>