<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav navbar-brand">
                @if (Session["adminloggedin"] != null && (bool)Session["adminloggedin"] == true) {
                    @Html.ActionLink("BEBA & SANDØY BANK", "Login", "Admin")
                } else {
                    @Html.ActionLink("BEBA & SANDØY BANK", "Login", "Customer")
                }
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                @if (Session["loggedin"] != null && (bool) Session["loggedin"] == true) {
                    <li>@Html.ActionLink("KONTOER", "ListAccounts", "Customer")</li>
                    <li>@Html.ActionLink("BETALINGER", "ListTransactions", "Transaction")</li>
                    <li>@Html.ActionLink("NY BETALING", "RegisterTransaction", "Transaction")</li>
                    <li>@Html.ActionLink("UTSKRIFT", "ShowStatement", "Transaction")</li>
                    <li>@Html.ActionLink("LOGG UT", "Logout", "Customer")</li>
                } else if (Session["adminloggedin"] != null && (bool) Session["adminloggedin"] == true) {
                    <li>@Html.ActionLink("KUNDER", "ListCustomers", "Admin")</li>
                    <li>@Html.ActionLink("NY KUNDE", "RegisterCustomer", "Admin")</li>
                    <li>@Html.ActionLink("KONTOER", "ListAccounts", "Admin")</li>
                    <li>@Html.ActionLink("BETALINGER", "", "")</li>
                    <li>@Html.ActionLink("LOGG UT", "Logout", "Admin")</li>
                }
                else {
                    <li>@Html.ActionLink("ADMIN", "Login", "Admin")</li>
                }
            </ul>
        </div>
    </div>
</div>