@model Model.CustomerInfo

<div class="col-sm-3">
    <div class="panel panel-default my-infopanel">
        <h4>Du er logget inn som</h4>
        <img src="~/Content/Images/user.png"/>
        <b>Navn:</b>
        <p>@Model.FirstName @Model.LastName</p>
        <b>Personnummer:</b>
        <p>@long.Parse(Model.PersonalNumber).ToString("000000 00000")</p>
        <b>Adresse:</b>
        <p>@Model.Address</p>
        <p>@Html.ActionLink("ENDRE PASSORD", "ChangePassword", "Customer")</p>
    </div>  
</div>