@model List<Nettbank___Webapplikasjoner.Models.Account>

@{
    ViewBag.Title = "Kontoer";
}

<h1>Kontooversikt</h1>
<div class="panel panel-default col-sm-9">
    <div class="panel-body">
        <table class="table">
            <tr>
                <th class="col-md-3">@Html.DisplayNameFor(model => model[0].accountNumber)</th>
                <th class="col-md-4">@Html.DisplayNameFor(model => model[0].ownerName)</th>
                <th class="col-md-2">@Html.DisplayNameFor(model => model[0].balance)</th>
                <th class="col-md-3"></th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>@Int64.Parse(item.accountNumber).ToString("0000 00 00000")</td>
                    <td>@item.ownerName</td>
                    <td style="text-align: right">@item.balance.ToString("### ### ##0 kr")</td>
                    <td>@Html.ActionLink("Betalinger", "ListTransactions", "Transaction", new { accountNumber = item.accountNumber }, new {@class = "btn btn-primary"})</td>
                </tr>
            }
        </table>
    </div>
</div>
@Html.Partial("AccountInfo", (Nettbank___Webapplikasjoner.Models.Customers)ViewBag.Customer)