@model List<Model.CustomerInfo>

@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function() {
        // lag en hendelse som utføres når en a-href med "data-SletteModal = true" trykkes.
        $('a[data-deleteCustomerModal=true]').click(function() {

            // hent inn data-taggene fra denne a-href lenken
            var data_navn = $(this).data('navn');
            var data_id = $(this).data('id');

            // legg ut dataene i div'en i modal-view'et
            $('#deleteCustomer').html(data_navn);

            $("#deleteModalButton").click(function () {
                // id som skal slettes ligger i data_id
                $.ajax({
                    url: '@Url.Action("Delete", "Admin")',
                    data: { personalNumber: data_id },  // en parameter inn i slett(id)-metoden i kunde-kontrolleren (JSON-objekt)
                    success: function () {
                        // må kalle liste-metoden for å vise den nye listen av kunder
                        $.ajax({
                            url: '@Url.Action("ListCustomers", "Admin")',
                            success: function () {
                                // så må siden reloades!
                                window.location.reload();
                            }
                        });
                    }
                });
            })
        })
    });
</script>

<table class="table">
    <tr>
        <th class="col-md-4">@Html.DisplayNameFor(model => model[0].PersonalNumber)</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model[0].FirstName)</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model[0].LastName)</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model[0].Address)</th>
        <th class="col-md-2"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@long.Parse(item.PersonalNumber).ToString("0000 00 00000")</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Address</td>
            <td>
                <a href="#deleteCustomerModal" class="btn btn-xs btn-danger" id="deleteButton"
                   data-navn="Personnummer: @item.PersonalNumber, Fornavn: @item.FirstName, Etternavn: @item.LastName, Adresse: @item.Address"
                   data-id="@item.PersonalNumber" data-toggle="modal" data-deleteCustomerModal="true">Slett</a>
                @Html.ActionLink(linkText: "Endre", actionName: "UpdateCustomer", controllerName: "Admin", routeValues: new { personalNumber = item.PersonalNumber }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
                @Html.ActionLink(linkText: "Ny konto", actionName: "AddAccount", controllerName: "Admin", routeValues: new { personalNumber = item.PersonalNumber }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
            </td>
        </tr>
    }
</table>