@model Model.EditableAccount

@{
    ViewBag.Title = "Admin";
}

<h1>Admin: Endre konto</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AccountNumber)

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerPersonalNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OwnerPersonalNumber, ViewBag.CustomerList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OwnerPersonalNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <p class="text-danger">@ViewBag.ValidationMessage</p>
            </div>
        </div>
    </div>
}